<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!-- Example for setting username and password for your personal bintray repo. -->
    <servers>
        <server>
            <id>bintray</id>
            <username>bintray username</username>
            <password>bintray API-key</password>
        </server>
    </servers>
</settings>
